

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color:  #fff;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}


ul,
ol {
    list-style-type: none;
    margin: 0;
}

a {
    text-decoration: none;
}

.header-container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e7e9fc;
    
}

.logo {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px; 
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}

.logo-start {
    font-family: "Raleway", sans-serif;
    color: #2e2f42;
}

.header-nav {
    display: flex;
    align-items: center;

}

.nav-list {
display: flex;
align-items: center;
gap: 40px;
}

.link-nav {
    display: block;
    align-items: center;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.link-nav:hover,
.link-nav:focus  {
    color: #404bbf;
}

.address {
    margin-left: auto;
    font-style: normal;
    color: #404bbf;
}

.list-address {
    display: flex;
    align-items: center;
    gap: 40px;
}

.link-address {
    display: block;
    align-items: center;
    padding: 24px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

.link-address:hover,
.link-address:focus {
    color: #404bbf;
}


.business {
    display: flex;
    align-items: center;
    background-color: #2e2f42;
   flex-direction: column;
   justify-content: center;
}

.title-business {
    padding-top: 188px;
    padding-right: 472px;
    padding-left: 472px;
    margin-bottom: 48px;
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.button-business {
    display: block;
    align-items: center;
    border-radius: 4px;
    padding: 16px 32px;
    margin-bottom: 188px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4D5AE5;
    cursor: pointer;
}


.button-business:hover,
.button-business:focus {
    background-color: #404BBF;
}

.benefits {
    padding: 120px;
}

.list-benefits {
    display: flex;
    align-items: center;
    gap: 24px;
}

.title-benefits {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.article-benefits {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}



.team {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f4f4fd;
}


.list-team {
display: flex;
align-items: center;
gap: 24px;
padding: 120px;
}

.li-team {
    background-color: #FFFFFF;
}

.title-team {
    padding-top: 120px;
    margin-bottom: 72px;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.div-team {
    padding: 32px 16px;
}

.title-team-members {
    display: block;
    align-items: center;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.article-team {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.portfolio {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 120px;
}

.list-portfolio {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 156px;
    gap: 24px;
}



.title-portfolio {
    padding-top: 120px;
    margin-bottom: 72px;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.pid-title-portfolio {
    padding-top: 32px;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.article-portfolio {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}


.footer {
    background-color: #2e2f42;
    font-family: "Raleway", sans-serif;
}

.div-footer {
    display: flex;
    flex-direction: column;
    padding: 100px 1020px 100px 156px;
}

.logo-end {
    color: #f4f4fd;
    font-family: "Raleway", sans-serif;
}

.article-footer {
    width: 264px;
    display: block;
    flex-direction: column;
    margin-top: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}